In [6]:
import pandas as pd
import joblib
import pickle

In [39]:
import gradio as gr

In [4]:
# cargar los datos y el modelo entrenado
data = pd.read_csv('ratings2.csv', sep= ';')
model = joblib.load('modelo_entrenado.pkl')

In [47]:
# Defino la función de recomendación. 
# id_usuario: entre 1 y 124380
# id_pelicula: se compone por:    el código de paltaforma (Amazon: 100, Disney:200, Hulu: 300, Netflix: 400) 
#                               y el id de película/serie (Amazon: entre 1 y 9668, Disney: entre 1 y 1450,
#                                                          Hulu: entre 1 y 3073, Netflix: entre 1 y 8807)

def hacer_prediccion(id_usuario, id_pelicula):
    # Cargo el modelo de machine learning previamente entrenado
    with open('modelo_entrenado.pkl', 'rb') as file:
        model = joblib.load('modelo_entrenado.pkl')
    
    # Cargo el archivo CSV con los datos de entrada, elimino columnas que no es usan en el modelo
    df = pd.read_csv('ratings2.csv', sep= ';')
    df.drop(columns=['Unnamed: 0', 'id', 'visualiza'], inplace= True)
    
    # Filtro los datos para obtener solo las filas correspondientes al usuario y la película específicos
    datos_entrada = df[(df['userId'] == id_usuario) & (df['id_int'] == id_pelicula)]
      
    # Genero la predicción utilizando el modelo
    if len(datos_entrada) > 0:
        prediccion = model.predict(datos_entrada)
        return 'El usuario vería ese contenido'
    
    else:
        return 'El usuario no vería ese contenido'

In [48]:
print(hacer_prediccion(124380, 4005272))

El usuario vería ese contenido

In [51]:
print(hacer_prediccion(5458, 400812))

El usuario no vería ese contenido

In [49]:
print(hacer_prediccion(1, 1009500))

El usuario vería ese contenido

In [5]:
data

          Unnamed: 0  userId      id   id_int  score  visualiza
0                  0       1   as680   100680    1.0          0
1                  1       1  ns2186  4002186    4.5          1
2                  2       1  hs2381  3002381    5.0          1
3                  3       1  ns3663  4003663    5.0          1
4                  4       1  as9500  1009500    5.0          1
...              ...     ...     ...      ...    ...        ...
11024284    11024284  124380  ns5272  4005272    4.5          1
11024285    11024285  124380  ns5492  4005492    2.5          0
11024286    11024286  124380   hs305   300305    3.5          1
11024287    11024287  124380  ns7881  4007881    4.5          1
11024288    11024288  124380   as883   100883    1.5          0

[11024289 rows x 6 columns]

In [ ]:
# gradio

In [43]:
demo = gr.Interface(
    fn=hacer_prediccion,
    inputs=["text", "text"],
    outputs=["text"],
)
demo.launch()

Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.