In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# importo ratings
ratings = pd.read_csv('ratings_completo.csv', sep=';')

In [4]:
# elimino columnas innecesarias
ratings.drop(columns=['Unnamed: 0', 'timestamp'], inplace=True)

In [5]:
# reordeno columnas
ratings2 = ratings.reindex(columns=['userId','id','score'])

In [6]:
# agrego columna (variable objetivo)
ratings2['visualiza'] = ' '

In [7]:
def mayor_o_igual_a_3(score):
    if score >= 3:
        return 1
    else:
        return 0

In [8]:
ratings2['visualiza'] = ratings2['score'].apply(mayor_o_igual_a_3)

In [32]:
ratings2

          userId      id   id_int  score  visualiza
0              1   as680   100680    1.0          0
1              1  ns2186  4002186    4.5          1
2              1  hs2381  3002381    5.0          1
3              1  ns3663  4003663    5.0          1
4              1  as9500  1009500    5.0          1
...          ...     ...      ...    ...        ...
11024284  124380  ns5272  4005272    4.5          1
11024285  124380  ns5492  4005492    2.5          0
11024286  124380   hs305   300305    3.5          1
11024287  124380  ns7881  4007881    4.5          1
11024288  124380   as883   100883    1.5          0

[11024289 rows x 5 columns]

ENTRENAMIENTO

PRUEBAS CON MÁS COLUMNAS, CON MODELOS DE LA WEB

In [9]:
# agrego columna para convertir el id en int
ratings2['id_int'] = ' '

In [10]:
# Divido el campo id en dos campos: plataforma (str) y id_plat (int)
ratings2['plataforma'] = ratings2['id'].str[:2]
ratings2['id_plat'] = ratings2['id'].str[2:]

In [11]:
# Definir el diccionario de transformación
transform_dict = {'as': 100, 'ds': 200, 'hs': 300, 'ns': 400}

In [12]:
# Aplicar la transformación a la columna
ratings2['plataforma'] = ratings2['plataforma'].map(transform_dict) # Primera parte: caracteres 0 y 1

# Mostrar el DataFrame resultante
# print(df)

In [13]:
# Uno las dos columnas
ratings2['id_int'] = ratings2['plataforma'].astype(str) + ratings2['id_plat'].astype(str)

In [14]:
ratings2['id_int'] = ratings2['id_int'].astype(int)

In [16]:
ratings2.drop(columns=['plataforma', 'id_plat'], inplace=True)

In [17]:
ratings2 = ratings2.reindex(columns=['userId','id','id_int','score','visualiza'])

In [18]:
ratings2

          userId      id   id_int  score  visualiza
0              1   as680   100680    1.0          0
1              1  ns2186  4002186    4.5          1
2              1  hs2381  3002381    5.0          1
3              1  ns3663  4003663    5.0          1
4              1  as9500  1009500    5.0          1
...          ...     ...      ...    ...        ...
11024284  124380  ns5272  4005272    4.5          1
11024285  124380  ns5492  4005492    2.5          0
11024286  124380   hs305   300305    3.5          1
11024287  124380  ns7881  4007881    4.5          1
11024288  124380   as883   100883    1.5          0

[11024289 rows x 5 columns]

In [ ]:
ratings2.to_csv("ratings2.csv", sep=';')

In [20]:
# Selecciono las características (variables) que se utilizarán para entrenar el modelo y la variable objetivo

X = ratings2[['userId','id_int','score']]
y = ratings2['visualiza']

In [33]:
# Divido los datos en un conjunto de entrenamiento y un conjunto de prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Creo un objeto de modelo de regresión logística
model = LogisticRegression()

In [35]:
# Entreno el modelo con el conjunto de entrenamiento
model.fit(X_train, y_train)

LogisticRegression()

In [36]:
# Realizo predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

In [37]:
# Evalúo el rendimiento del modelo calculando la precisión
accuracy = accuracy_score(y_test, y_pred)
print("Precisión del modelo:", accuracy)

Precisión del modelo: 0.8700387961492305

In [39]:
from sklearn.linear_model import LinearRegression
import joblib

In [40]:
# guardar el modelo entrenado en un archivo
joblib.dump(model, 'modelo_entrenado.pkl')

['modelo_entrenado.pkl']

In [ ]:
# elimino columnas innecesarias para el modelo en ratings2 para poder usar el modelo con funcion (pruebaML3)
ratings_para_modelo = ratings2.drop(columns=['Unnamed: 0', 'id', 'visualiza'])